:root {
  /*Primary Colors*/
  --base-sky-blue: #339af0;
  --tint-artic: #d0ebff;
  --shade-deep-sea: #1c7ed6;
  /*Secondary Colors*/
  --base-lavender: #9775fa;
  --tint-moonlight-iris: #e5dbff;
  --shade-velvet-night: #7048e8;
  /*Tertiary Colors*/
  --base-pumpkin: #ff922b;
  --tint-dawn: #ff38cc;
  --shade-lava: #f76707;
  /*Gray Scales*/
  --base-slate: #495057;
  --tint-pebble: #f1f3f5;
  --shade-graphite: #212529;
}

h1 h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  letter-spacing: -2px;
  color: var(--shade-graphite);
}

h1 {
  text-align: center;
  font-size: 62px;
}

h2 {
  text-align: center;
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 40px;
}

p {
  font-weight: 400;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--base-slate);
}

a {
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  line-height: 1.5;
  color: var(--base-slate);
}

ul {
  list-style-type: none;
}
