:root {
  /*Primary Colors*/
  --base-sky-blue: #339af0;
  --tint-artic: #d0ebff;
  --shade-deep-sea: #1c7ed6;
  /*Secondary Colors*/
  --base-lavender: #9775fa;
  --tint-moonlight-iris: #e5dbff;
  --shade-velvet-night: #7048e8;
  /*Tertiary Colors*/
  --base-pumpkin: #ff922b;
  --tint-dawn: #ff38cc;
  --shade-lava: #f76707;
  /*Gray Scales*/
  --base-slate: #495057;
  --tint-pebble: #f1f3f5;
  --shade-graphite: #212529;
  --color-white: #fff;
  --color-black: #000;

  /* Font Sizes */

  --text-sm: 12px;
  --text-base: 16px;
  --text-paragraph: 20px;
  --text-h5: 24px;
  --text-h4: 32px;
  --text-h3: 40px;
  --text-h2: 48px;
  --text-h1: 62px;
}

/* -------- SPACING GUIDELINES --------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 7px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px 

*/

/* ------------------ GLOBAL STYLES ------------------  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*same as 10px, but responsive*/
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--base-slate);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: var(--shade-graphite);
}

h1 {
  font-size: 6.2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.4rem;
}

p {
  font-size: 2rem;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

span {
  display: inline-block;
}

.small-text {
  font-size: 1.2rem;
}

/* ------------------ COMPONENTS ------------------  */
.btn {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 8px;
}

.btn-primary:link,
.btn-primary:visited {
  color: var(--color-white);
  background-color: var(--base-sky-blue);
  border: 2px solid var(--base-sky-blue);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--color-white);
  background-color: var(--shade-deep-sea);
  border: 2px solid var(--shade-deep-sea);
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: var(--base-sky-blue);
  background-color: var(--color-white);
  border: 2px solid var(--base-sky-blue);
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: var(--shade-deep-sea);
  background-color: var(--color-white);
  border: 2px solid var(--shade-deep-sea);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--color-white);
  background-color: var(--base-lavender);
  border: 2px solid var(--base-lavender);
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--color-white);
  background-color: var(--shade-velvet-night);
  border: 2px solid var(--shade-velvet-night);
}

.highlight {
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.highlight-primary {
  background-color: var(--base-sky-blue);
}

.highlight-secondary {
  background-color: var(--base-lavender);
}

.highlight-tertiary {
  background-color: var(--base-pumpkin);
}

.logo-md {
  width: 100px;
}
.logo-sm {
  width: 80px;
}

/* ------------------ SECTIONS ------------------  */
/* ----- HEADER  ----- */
.header {
  height: 100vh;
  min-height: 800px;
}

/* ----- NAV SECTION ----- */
.navbar {
  margin-bottom: 20rem;
}

/* ----- HERO SECTION ----- */
.hero-section {
  text-align: center;
  margin-bottom: 30rem;
}

.hero-heading {
  margin-bottom: 1rem;
}

.hero-paragraph {
  margin-bottom: 5rem;
}

/* ----- FEATURES SECTION ----- */

.features-section {
  margin-bottom: 30rem;
}

.features-main-heading {
  text-align: center;
  margin-bottom: 8rem;
}

.feature-headings {
  margin-bottom: 2rem;
}

.feature-img {
  max-width: 400px;
  width: 100%;
}

/* ----- CTA SECTION ----- */

.cta-section {
  margin-bottom: 30rem;
}

.cta-card {
  background-color: var(--base-sky-blue);
  max-width: 1000px;
  padding: 10rem 20rem;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}

.cta-heading {
  margin-bottom: 3rem;
}

/* ----- FOOTER SECTION ----- */

.footer-section {
  text-align: center;
}

.social-icons {
  width: 20px;
}
