:root {
  /*Primary Colors*/
  --base-sky-blue: #339af0;
  --tint-artic: #d0ebff;
  --shade-deep-sea: #1c7ed6;
  /*Secondary Colors*/
  --base-lavender: #9775fa;
  --tint-moonlight-iris: #e5dbff;
  --shade-velvet-night: #7048e8;
  /*Tertiary Colors*/
  --base-pumpkin: #ff922b;
  --tint-dawn: #ff38cc;
  --shade-lava: #f76707;
  /*Gray Scales*/
  --base-slate: #495057;
  --tint-pebble: #f1f3f5;
  --shade-graphite: #212529;
  --color-white: #fff;
  --color-black: #000;
}

/* ------------------ GLOBAL STYLES ------------------  */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--base-slate);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: var(--shade-graphite);
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.small-text {
  font-size: 12px;
}

/* ------------------ COMPONENTS ------------------  */
.btn {
  font-size: 16px;
  text-decoration: none;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: var(--base-sky-blue);
  color: var(--color-white);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--color-white);
  background-color: var(--shade-deep-sea);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--color-white);
  background-color: var(--base-lavender);
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--color-white);
  background-color: var(--shade-velvet-night);
}

.highlight {
  color: var(--color-white);
}

.highlight-primary {
  background-color: var(--base-sky-blue);
}

.highlight-secondary {
  background-color: var(--base-lavender);
}

.highlight-tertiary {
  background-color: var(--base-pumpkin);
}

/* ------------------ SECTIONS ------------------  */
/* ----- HERO SECTION ----- */

.hero-section {
  text-align: center;
}

/* ----- FEATURES SECTION ----- */

.features-main-heading {
  text-align: center;
}

/* ----- CTA SECTION ----- */

.cta-section {
  text-align: center;
}

/* ----- FOOTER SECTION ----- */

.footer-section {
  text-align: center;
}
