h1 {
  font-weight: 700;
  font-size: 62px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -2px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -2px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -2px;
}

h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -2px;
}

h5 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -2px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

a {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}
